%p
  You can download this app manually to your PC by visiting the
  %a{href: @store_application.github_link}
    github repository page.
  Really soon you'll be able to use
  %a{href: 'http://galacticexchange.io/product/'}
    ClusterGX
  to install it in
  %span.highlight
    one click